div#App_container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

div#App_container div#App_canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

div#App_container div#App_canvas canvas {
  height: 100%;
  width: 100%;
}

div#App_container div#App_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 16px;
}

div#App_container div#App_buttons button {
  background-color: #65c399;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  height: 28px;
  outline: 0;
  width: 128px;
}

div#App_container div#App_buttons button:hover {
  background-color: #65c39944;
}

div#App_container div#App_buttons button:not(:last-child) {
  margin-right: 16px;
}
