div#Map_container {
  position: relative;

  height: 100%;
  width: 100%;
}

div#Map_container canvas {
  height: 100%;
  width: 100%;
}

div#Map_container div#popup {
  position: absolute;
  top: 5px;
  left: 5px;

  background-color: #000000a0;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  padding: 8px;
  user-select: none;
  width: 150px;
}

div#Map_container div#popup div.info-row {
  color: #ffffff;
}